DATABASE_URL=postgres://postgres:<password>@<host>:5432/postgres
JWT_SECRET_KET=secret
JWT_EXPIRES_IN=7d
PORT=3000
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
APP_URL=localhost:3000
NODE_ENV=development